[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pylint = "*"
django-extensions = "*"
graphene-django = "*"
django-cors-headers = "*"
django-graphql-jwt = "*"
django-environ = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
