/* * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}


a {
  color: inherit;
}

a:visited {
  color: inherit;
} */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: auto;
  margin-right: auto;
  background-color: #e1e1e1;
}
